<!-- BEGIN: Left Aside -->
<button class="m-aside-left-close  m-aside-left-close--skin-dark" id="m_aside_left_close_btn" appunwraptag="">
	<i class="la la-close"></i>
</button>
<div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark">
    <!-- BEGIN: Aside Menu -->
    <div id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark" data-menu-vertical="true" data-menu-scrollable="false" data-menu-dropdown-timeout="500">
        <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow">
            <li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                <a routerLink="/index" class="m-menu__link">
                    <i class="m-menu__link-icon flaticon-line-graph"></i>
                    <span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">
								Inicio
							</span>

                    </span>
                    </span>
                </a>
            </li>
            <li class="m-menu__section">
                <h4 class="m-menu__section-text">
                    Sistema de lo que tu quieras
                </h4>
                <i class="m-menu__section-icon flaticon-more-v3"></i>
            </li>
            <li class="m-menu__item  m-menu__item--submenu" *ngIf="checkClaim('ImportBankFile') || checkClaim('DetailBankFile') || checkClaim('ExportBankFile')" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" m-menu-submenu-toggle="hover">
                <a href="#" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon fa fa-university"></i>
                    <span class="m-menu__link-text">
						Sistema N
					</span>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
                <div class="m-menu__submenu">
                    <span class="m-menu__arrow"></span>
                    <ul class="m-menu__subnav">
                        <li class="m-menu__item  m-menu__item--parent" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                            <span class="m-menu__link">
								<span class="m-menu__link-text">
									Archivos de Banco
								</span>
                            </span>
                        </li>
                        <li *ngIf="checkClaim('ImportBankFile')" class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                            <a routerLink="/archivosBanco" class="m-menu__link">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
									<span></span>
								</i>
                                <span class="m-menu__link-text">
									Importación de Archivos
								</span>
                            </a>
                        </li>
                        <li *ngIf="checkClaim('DetailBankFile')" class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                            <a routerLink="/depositos" class="m-menu__link">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
									<span></span>
								</i>
                                <span class="m-menu__link-text">
									Detalle de Archivos
								</span>
                            </a>
                        </li>
                        <li *ngIf="checkClaim('ExportBankFile')" class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                            <a routerLink="/export" class="m-menu__link">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
									<span></span>
								</i>
                                <span class="m-menu__link-text">
									Archivos Exportados
								</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" m-menu-submenu-toggle="hover">
                <a href="#" class="m-menu__link m-menu__toggle" *ngIf="checkClaim('Parameter')">
                    <i class="m-menu__link-icon fa fa-cog"></i>
                    <span class="m-menu__link-text">
					   Parametros
				   </span>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
                <div class="m-menu__submenu">
                    <span class="m-menu__arrow"></span>
                    <ul class="m-menu__subnav">

                        <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                            <a routerLink="/company" class="m-menu__link">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
								   <span></span>
							   </i>
                                <span class="m-menu__link-text">
								   Empresas
							   </span>
                            </a>
                        </li>
                        <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                            <a routerLink="/role" class="m-menu__link">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
								   <span></span>
							   </i>
                                <span class="m-menu__link-text">
								   Roles de Usuario
							   </span>
                            </a>
                        </li>
                        <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                            <a routerLink="/user" class="m-menu__link">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
								   <span></span>
							   </i>
                                <span class="m-menu__link-text">
								  Usuario
							   </span>
                            </a>
                        </li>

                    </ul>
                </div>
            </li>
            <li class=" m-menu__item m-menu__item--submenu " routerLinkActive="m-menu__item--open " routerLinkActiveOptions="{ exact: true } " aria-haspopup="true " m-menu-submenu-toggle="hover ">
                <a (click)='exit()' class="m-menu__link m-menu__toggle ">
                    <i class="m-menu__link-icon fa fa-close "></i>
                    <span class="m-menu__link-text ">
						Salir
					</span>

                </a>

            </li>


        </ul>
    </div>
    <!-- END: Aside Menu -->
</div>
<!-- END: Left Aside -->