<div class="modal-header">
    <h4 class="modal-title">Subir Archivo de Banco</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Close click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p class="text-info">Aviso importante: Campos con el <label class="text-danger"> (*)</label> son requeridos</p>
    <form enctype="multipart/form-data">
        <div class="form-group m-form__group">
            <label for="banco">
                Empresa:
            </label> <span class="text-danger" *ngIf='!bankFile.companyId'><b> *</b></span>
            <select class="form-control  m-input" name="banco" [(ngModel)]="bankFile.companyId" required>
                <option *ngFor="let com of companies" [value]="com.id">
                    {{com.name}}
                </option>
            </select>
        </div>
        <div class="form-group m-form__group">
            <label for="banco">
                Banco:
            </label><span class="text-danger" *ngIf='!bankFile.bankId'><b> *</b></span>
            <select class="form-control  m-input" name="banco" [(ngModel)]="bankFile.bankId" required>
                <option *ngFor="let bank of banks" [value]="bank.id">
                    {{bank.name}}
                </option>
            </select>
        </div>
        <div class="form-group m-form__group">
            <label for="comentario">
                Moneda:
            </label><span class="text-danger" *ngIf='!bankFile.currencyId'><b> *</b></span>
            <select class="form-control  m-input" name="moneda" [(ngModel)]="bankFile.currencyId">
                <option *ngFor="let curr of currencys" [value]="curr.id">
                    {{curr.name}}
                </option>
            </select>
        </div>
        <div class="form-group m-form__group">
            <label for="comentario">
                Archivo: 
            </label>  <span class="text-danger" *ngIf='!file'> <b> * </b></span> 
            
            <input class="form-control m-input" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" id="file" type="file" name="documents" [(ngModel)]="file" rows="3"
                (change)="onFileChange($event)" />
                <label class="text-info text-right">(Solo se podran subir archivos en formato excel de 2010 en adelante)</label>
        </div>
        <div class="form-group m-form__group">
            <label for="comentario">
                Comentario:
            </label>
            <textarea class="form-control  m-input" placeholder="Opcional" name="comentario" [(ngModel)]="bankFile.commentary" rows="3">
            </textarea>
        </div>
    </form>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Cerrar</button>
    <button type="button" class="btn btn-primary" *ngIf='bankFile.currencyId && bankFile.bankId && bankFile.companyId' (click)="enviarArchivo()" [disabled]="inProgress">
        Guardar
    </button>
</div>