<!--begin::Portlet-->
<div class="m-portlet  m-portlet--collapsed m-portlet--tab " m-portlet="true">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <span class="m-portlet__head-icon m--hide">
                    <i class="la la-gear"></i>
                </span>
                <h3 class="m-portlet__head-text">
                    Filtros
                </h3>
            </div>
        </div>
        <div class="m-portlet__head-tools">
            <ul class="m-portlet__nav">
                <li class="m-portlet__nav-item">
                    <a href="" m-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon" title="" data-original-title="Collapse">
                        <i class="la la-angle-down"></i>
                    </a>
                </li>


            </ul>


        </div>
    </div>
    <!--begin::Form-->
    <form class="m-form m-form--fit m-form--label-align-right">
        <div class="m-portlet__body">
            <div class="form-group m-form__group row">
                <label for="example-text-input" class="col-1 col-form-label">
                Buscar Por Banco:
            </label>
                <div class="col-5">
                    <select class="form-control  m-input" name="bancoselecionado" ([ngmodel])="filter.seleccionado" (change)="bancos.values();">
                    <option *ngFor="let item of bank" [ngValue]="item.id">
                          {{item.name}}
                    </option>
                </select>
                </div>

                <label for="example-text-input" class="col-1 col-form-label">
                Moneda:
            </label>
                <div class="col-5">
                    <select class="form-control  m-input" name="monedaSeleccionada" [(ngModel)]="currencyselect">
                        <option selected [value]="0">
                           --TODOS--
                        </option>
                    <option *ngFor="let item of currency" [value]="item.id">
                        {{item.name}}
                    </option>
                </select>
                </div>

            </div>


            <div class="form-group m-form__group row">
                <label for="example-text-input" class="col-1 col-form-label">
                    Fecha Inicio:
                </label>
                <div class="col-5">
                    <input type="date" name="fechaInicio" class="form-control" [ngModel]="fechaInicio | date:'yyyy-MM-dd'" (ngModelChange)="fechaInicio = $event" />
                </div>
                <label for="example-text-input" class="col-1 col-form-label">
                    Fecha Final:
                </label>
                <div class="col-5">
                    <input name="fechaFinal" type="date" class="form-control" [ngModel]="fechaFinal | date:'yyyy-MM-dd'" (ngModelChange)="fechaFinal = $event" />
                </div>
            </div>
        </div>
        <div class="m-portlet__foot m-portlet__foot--fit">
            <div class="m-form__actions">
                <a href="#" class="btn btn-primary" (click)="buscar()">
                    Buscar
                </a>
                <button type="reset" class="btn btn-secondary">
                    Cancelar
                </button>
            </div>
        </div>
    </form>
    <!--end::Form-->
</div>
<!--end::Portlet-->