<!--begin::Portlet-->
<div class="m-portlet  m-portlet--collapsed m-portlet--tab " m-portlet="true">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <span class="m-portlet__head-icon m--hide">
                    <i class="la la-gear"></i>
                </span>
                <h3 class="m-portlet__head-text">
                    Filtros
                </h3>
            </div>
        </div>
        <div class="m-portlet__head-tools">
            <ul class="m-portlet__nav">

                <li class="m-portlet__nav-item">
                    <a href="#" m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon" title=""
                        data-original-title="Fullscreen">
                        <i class="la la-expand"></i>
                    </a>
                </li>
                <li class="m-portlet__nav-item">
                    <a href="" m-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon" title=""
                        data-original-title="Collapse">
                        <i class="la la-angle-down"></i>
                    </a>
                </li>


            </ul>


        </div>
    </div>
    <!--begin::Form-->
    <form class="m-form m-form--fit m-form--label-align-right">
        <div class="m-portlet__body">
            <div class="form-group m-form__group row">
                <label for="example-text-input" class="col-1 col-form-label">
                    Banco
                </label>
                <div class="col-3">
                    <select class="form-control  m-input" name="bank" [(ngModel)]="filter.bankId"
                        >
                        <option [value]='0' selected>--Todos--</option>
                        <option   *ngFor="let item of bank" [ngValue]="item.id">
                            {{item.name}}
                        </option>
                    </select>
                </div>
                <label for="example-text-input" class="col-1 col-form-label">
                    Moneda
                </label>
                <div class="col-3">
                    <select class="form-control  m-input" name="currecny" [(ngModel)]="filter.currencyId"
                       >
                        <option [value]='0' selected>--Todos--</option>
                        <option *ngFor="let item of currency" [ngValue]="item.id">
                            {{item.name}}
                        </option>
                    </select>
                </div>
                <label for="example-text-input" class="col-1 col-form-label">
                    Empresa
                </label>
                <div class="col-3">
                    <select class="form-control  m-input" name="company" [(ngModel)]="filter.companyId"
                        >
                        <option [value]='0' selected>--Todos--</option>
                        <option *ngFor="let item of company" [ngValue]="item.id">
                            {{item.name}}
                        </option>
                    </select>
                </div>


            </div>
            <div class="form-group m-form__group row">
                <label for="example-text-input" class="col-1 col-form-label">
                    Fecha Inicio:
                </label>
                <div class="col-3">
                    <input type="date" name="fechaInicio" class="form-control" [(ngModel)]="filter.startDate"
                       />
                </div>
                <label for="example-text-input" class="col-1 col-form-label">
                    Fecha Final:
                </label>
                <div class="col-3">
                    <input name="endDate"  type="date" class="form-control" [(ngModel)]="filter.endDate"
                       />
                </div>
                <label for="example-text-input" class="col-1 col-form-label">
                    Estatus
                </label>
                <div class="col-3">
                    <select class="form-control  m-input" name="status" [(ngModel)]="filter.status">
                       
                        <option selected value="">  --Todos-- </option>
                        <option value="A">  Anulado </option>
                        <option value="D"> Disponible </option>
                        <option value="E">  Enviado </option>
                    </select>
                </div>

            </div>
            <div class="form-group m-form__group row">
                <label for="example-text-input" class="col-1 col-form-label">
                    No Archivo
                </label>
                <div class="col-3">
                    <input name="noRegister" (keyup.enter)='find()' type="text" class="form-control" [(ngModel)]="filter.idHeader"
                    />
                </div>
                <label for="example-text-input" class="col-1 col-form-label">
                    No Secuencia
                </label>
                <div class="col-3">
                    <input name="noSecuencoa" (keyup.enter)='find()' type="text" class="form-control" [(ngModel)]="filter.idDetail"
                    />
                </div>
            </div>
        </div>
        <div class="m-portlet__foot m-portlet__foot--fit">
            <div class="m-form__actions">
                <a href="#" class="btn btn-primary" (click)="find()">
                    Buscar
                </a>
                <button type="reset" class="btn btn-secondary">
                    Cancelar
                </button>
            </div>
        </div>
    </form>
    <!--end::Form-->
</div>
<!--end::Portlet-->