<div class="modal-header">
    <h4 class="modal-title">Ver Actualizaciones</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Close click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="m-section">
        <div class="m-section__content text-center">
            <table class="table table-striped m-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Fecha Actualización</th>
                        <th>Usuario</th>
                        <th>Registros</th>
                        <th>Monto</th>
                        <th>Comentario</th>
                        <th>Estatus</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of files">
                        <th scope="row">{{item.id}}</th>
                        <td>{{item.createdDate | date:"dd/MMM/yyyy hh:mm a"}}</td>
                        <td>{{item.createdBy}}</td>
                        <td>{{item.quantity}}</td>
                        <td class="text-right">
                            {{item.totalAmount | currency}}
                        </td>
                        <td>{{item.commentary}}</td>
                        <td>{{item.status}}</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" a1ria-expanded="false">
                                    Acciones
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item m--font-primary" [attr.href]="dowloand+item.id" target="_blank">
                                        <i class="fa fa-download"></i> Descargar
                                    </a>
                                    <a class="dropdown-item m--font-primary" target="_blank">
                                        <i class="fa fa-paper-plane"></i> Exportar
                                    </a>
                                    <a *ngIf="item.quantity != 0 && item.status=='Disponible'" class="dropdown-item m--font-primary" href="#" (click)="cancel(item.id)">
                                        <i class="fa fa-times" aria-hidden="true"></i> Anular
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="close()">Cerrar</button>
</div>