<div class="modal-header">
    <h4 class="modal-title">Agregar Comentario</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Close click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="form-group m-form__group">
        <label for="comentario">
            Comentario:
        </label>
        <textarea class="form-control m-input" id="comentario" rows="3" [(ngModel)]="comentario"></textarea>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Cerrar</button>
    <button type="button" (click)="guardarComentario(id, comentario)" class="btn btn-primary">
        Guardar
    </button>
</div>