<th scope="row">
    {{deposito.id}}
    <span *ngIf="deposito.estatus=='A'" [ngClass]="{'m-badge--danger':deposito.estatus=='A'}"
        class="m-badge m-badge--wide">Anulado</span>
</th>
<td>
    {{deposito.clienteNombre}}
</td>
<td>
    {{deposito.fecha | date:"dd-MMM-yyyy"}}
</td>
<td>
    {{deposito.descripcion}}
</td>
<td>
    {{deposito.bancoNombre}}
</td>
<td>
    {{deposito.noRecibo}}
</td>
<td class="text-right">
    {{deposito.monto_Ingreso | currency}}
</td>
<td class="text-right">
    {{deposito.monto_Aplicado | currency}}
</td>
<td class="text-right">
    {{deposito.monto_Pendiente | currency}}
</td>

<td>
    {{deposito.comentario}}
</td>
<td>
    {{deposito.userMod }} <br>
    {{deposito.fechaMod | date:"dd-MMM-yyyy"}}
</td>
<td>
    <div class="dropdown">
        <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Acciones
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item m--font-primary" href="#"
                (click)="asignarCliente(deposito.id, deposito.id_Cliente)">
                <i class="fa fa-pencil" aria-hidden="true"></i> Asignar Cliente
            </a>
            <a class="dropdown-item m--font-info" href="#"
                (click)="agregarComentario(deposito.id, deposito.comentario)">
                <i class="fa fa-plus" aria-hidden="true"></i> Agregar Comentario
            </a>
            <a class="dropdown-item m--font-primary" href="#" *ngIf="deposito.id_Cliente && deposito.estatus!='A' "
                [routerLink]="[
                '/recibos/crear/',deposito.id] ">
                <i class="fa fa-money " aria-hidden="true "></i> Aplicar Pago
            </a>
            <a class="dropdown-item m--font-danger " href="#" *ngIf="deposito.estatus!='A' && deposito.monto_Aplicado==0
                " (click)="anularDeposito() ">
                <i class="fa fa-times " aria-hidden="true "></i> Anular
            </a>
            <a class="dropdown-item m--font-danger " href="#" *ngIf="deposito.estatus=='A'" (click)="verAnulacion() ">
                <i class="fa fa-times " aria-hidden="true "></i> Ver Anulación
            </a>
        </div>
    </div>

</td>