<!--begin::Portlet-->
<div class="m-portlet  m-portlet--collapsed m-portlet--tab " m-portlet="true">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <span class="m-portlet__head-icon m--hide">
                    <i class="la la-gear"></i>
                </span>
                <h3 class="m-portlet__head-text">
                    Filtros
                </h3>
            </div>
        </div>
        <div class="m-portlet__head-tools">
            <ul class="m-portlet__nav">

                <li class="m-portlet__nav-item">
                    <a href="#" m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon" title=""
                        data-original-title="Fullscreen">
                        <i class="la la-expand"></i>
                    </a>
                </li>
                <li class="m-portlet__nav-item">
                    <a href="" m-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon" title=""
                        data-original-title="Collapse">
                        <i class="la la-angle-down"></i>
                    </a>
                </li>


            </ul>


        </div>
    </div>
    <!--begin::Form-->
    <form class="m-form m-form--fit m-form--label-align-right">
        <div class="m-portlet__body">
            <div class="form-group m-form__group row">
                <label for="example-text-input" class="col-1 col-form-label">
                    Buscar Por:
                </label>
                <div class="col-3">
                    <select class="form-control  m-input" name="filtroSeleccionado" [(ngModel)]="filtro.seleccionado"
                        (change)="filtro.values=[];">
                        <option *ngFor="let item of filtros" [ngValue]="item">
                            {{item.label}}
                        </option>
                    </select>
                </div>
                <div class="col-6">
                    <div class="m-input-icon m-input-icon--right" *ngIf="filtro.isType('SIMPLE') && filtro.seleccionado.field !='clienteNombre'">
                        <input type="text" name="filtro" class="form-control m-input" placeholder="Filtro" [(ngModel)]="filtro.values[0]">

                    </div>
                    <div class="m-input-icon m-input-icon--right" *ngIf="filtro.isType('SIMPLE') && filtro.seleccionado.field =='clienteNombre'">
                        <input class="form-control m-input" rows="3" [ngbTypeahead]="searchCliente" [resultFormatter]="formatter"
                            [inputFormatter]="formatter" (selectItem)="filtro.values[0] = $event.item.nombre" />
                        <span class="m-input-icon__icon m-input-icon__icon--right">
                            <span>
                                <i class="la la-search"></i>
                            </span>
                        </span>
                    </div>
                    <div class="form-group m-form__group row" *ngIf="filtro.isType('RANGE')">
                        <div class="col-6">
                            <input type="text" name="inicio" class="form-control m-input" placeholder="Inicio"
                                [(ngModel)]="filtro.values[0]">
                        </div>
                        <div class="col-6">
                            <div class="m-input-icon m-input-icon--right">
                                <input type="text" name="termino" class="form-control m-input" placeholder="Termino"
                                    [(ngModel)]="filtro.values[1]">
                                <span class="m-input-icon__icon m-input-icon__icon--right">
                                    <span>
                                        <i class="la la-search"></i>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>


                <label for="example-text-input" class="col-1 col-form-label">
                    Pendiente:
                </label>
                <div class="col-1">
                    <span class="m-switch m-switch--icon">
                        <label>
                            <input type="checkbox" name="pendientes" [(ngModel)]="pendientes" />
                            <span></span>
                        </label>
                    </span>
                </div>


            </div>
            <div class="form-group m-form__group row">
                <label for="example-text-input" class="col-1 col-form-label">
                    Fecha Inicio:
                </label>
                <div class="col-3">
                    <input type="date" name="fechaInicio" class="form-control" [ngModel]="fechaInicio | date:'yyyy-MM-dd'"
                        (ngModelChange)="fechaInicio = $event" />
                </div>
                <label for="example-text-input" class="col-1 col-form-label">
                    Fecha Final:
                </label>
                <div class="col-3">
                    <input name="fechaFinal" type="date" class="form-control" [ngModel]="fechaFinal | date:'yyyy-MM-dd'"
                        (ngModelChange)="fechaFinal = $event" />
                </div>
                <label for="example-text-input" class="col-1 col-form-label">
                    Moneda:
                </label>
                <div class="col-3">
                    <select class="form-control  m-input" name="monedaSeleccionada" [(ngModel)]="monedaSeleccionada">
                        <option *ngFor="let moneda of monedas" [value]="moneda.codigo">
                            {{moneda.nombre}}
                        </option>
                    </select>
                </div>

            </div>
            <div class="form-group m-form__group row">
                <label for="example-text-input" class="col-1 col-form-label">
                    Cliente No Definido:
                </label>
                <div class="col-1">
                    <span class="m-switch m-switch--icon">
                        <label>
                            <input type="checkbox" name="clienteNoDefinido" [(ngModel)]="clienteNoDefinido" />
                            <span></span>
                        </label>
                    </span>
                </div>
            </div>
        </div>
        <div class="m-portlet__foot m-portlet__foot--fit">
            <div class="m-form__actions">
                <a href="#" class="btn btn-primary" (click)="buscar()">
                    Buscar
                </a>
                <button type="reset" class="btn btn-secondary">
                    Cancelar
                </button>
            </div>
        </div>
    </form>
    <!--end::Form-->
</div>
<!--end::Portlet-->