<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Archivos de Banco
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a routerLink='/' class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div>
        <!--Begin::Section-->
        <div class="row">
            <div class="col-xl-12">

                <!--begin::Portlet-->
                <div class="m-portlet  m-portlet--collapsed m-portlet--tab " m-portlet="true">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <span class="m-portlet__head-icon m--hide">
                    <i class="la la-gear"></i>
                </span>
                                <h3 class="m-portlet__head-text">
                                    Filtros
                                </h3>
                            </div>
                        </div>
                        <div class="m-portlet__head-tools">
                            <ul class="m-portlet__nav">
                                <li class="m-portlet__nav-item">
                                    <a href="" m-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon" title="" data-original-title="Collapse">
                                        <i class="la la-angle-down"></i>
                                    </a>
                                </li>


                            </ul>


                        </div>
                    </div>
                    <!--begin::Form-->
                    <form class="m-form m-form--fit m-form--label-align-right">
                        <div class="m-portlet__body">
                            <div class="form-group m-form__group row">
                                <label for="example-text-input" class="col-1 col-form-label">
                                            Buscar Por Banco:
                                        </label>
                                <div class="col-5">
                                    <select class="form-control  m-input" name="bankselect" [(ngModel)]="filter.bankId">
                                 <option *ngFor="let item of bank" [ngValue]="item.id">
                                   {{item.name}}
                                </option>
                                 </select>
                                </div>

                                <label for="example-text-input" class="col-1 col-form-label">
                                    Moneda:
                                 </label>
                                <div class="col-5">
                                    <select class="form-control  m-input" name="currencyselect" [(ngModel)]="filter.currencyId">
                                     <option selected [value]="0">
                                     --TODOS--
                                     </option>
                                     <option *ngFor="let item of currency" [value]="item.id">
                                    {{item.name}}
                                     </option>
                                     </select>
                                </div>
                            </div>


                            <div class="form-group m-form__group row">
                                <label for="example-text-input" class="col-1 col-form-label">
                    Fecha Inicio:
                </label>
                                <div class="col-5">
                                    <input type="date" name="fechaInicio" class="form-control" [(ngModel)]="filter.startDate" />
                                </div>
                                <label for="example-text-input" class="col-1 col-form-label">
                    Fecha Final:
                </label>
                                <div class="col-5">
                                    <input name="fechaFinal" type="date" class="form-control" [(ngModel)]="filter.endDate" />
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__foot m-portlet__foot--fit">
                            <div class="m-form__actions">
                                <a href="#" class="btn btn-primary" (click)="getAll(true)">
                    Buscar
                </a>
                                <button type="button" (click)='filter={}' class="btn btn-secondary">
                    Cancelar
                </button>
                            </div>
                        </div>
                    </form>
                    <!--end::Form-->
                </div>
                <!--end::Portlet-->
                <div class="m-portlet" m-portlet="true">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    Bancos
                                </h3>
                            </div>
                        </div>
                        <div class="m-portlet__head-tools">
                            <ul class="m-portlet__nav">
                                <li class="m-portlet__nav-item">
                                    <a class="btn btn-default" href="" (click)="agregarBanco()">
                                        <span class="fa fa-upload"></span> Subir
                                    </a>

                                </li>
                                <li class="m-portlet__nav-item">
                                    <a href="#" m-portlet-tool="reload" (click)="getAll(true)" class="m-portlet__nav-link m-portlet__nav-link--icon">
                                        <i class="la la-refresh"></i>
                                    </a>
                                </li>
                                <li class="m-portlet__nav-item">
                                    <a href="#" m-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
                                        <i class="la la-angle-down"></i>
                                    </a>
                                </li>
                                <li class="m-portlet__nav-item">
                                    <a href="#" m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
                                        <i class="la la-expand"></i>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <!--begin::Section-->
                        <div class="m-section">
                            <div class="m-section__content text-center">
                                <table class="table table-striped m-table">
                                    <thead>
                                        <tr>
<th>Empresa</th>
                                            <th>
                                                Fecha
                                            </th>
                                            <th>
                                                Banco
                                            </th>
                                            <th>
                                                Moneda
                                            </th>
                                            <th>
                                                Actualizaciones
                                            </th>
                                            <th>
                                                Ultima Actualizacion
                                            </th>
                                            <th>
                                                Registros
                                            </th>
                                            <th>
                                                Total
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of files">
                                            <td>{{item.company}}</td>
                                            <td>{{item.date | date:"dd/MMM/yyyy"}}</td>
                                            <td>{{item.bank}}</td>
                                            <td>{{item.currency}}</td>
                                            <td>{{item.totalUpdate}}</td>
                                            <td>{{item.lastUpdate | date: "dd/MM/yyyy hh:mm a"}}</td>
                                            <td>{{item.quantity}}</td>
                                            <td>{{item.total | currency}}</td>
                                            <td>
                                                <div class="dropdown">
                                                    <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            Acciones
                                                        </button>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item m--font-primary" href="#" (click)="viewDetail(item)">
                                                            <i class="fa fa-eye" aria-hidden="true"></i> Ver Actualizaciones
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="col-xs-12 col-12 d-sm-down-none">
                                    <div class="col-md-12 text-center">
                                        <button class="btn btn-info col-1" (click)=changePage(false) [disabled]='!dataPage.hasPrevious'>Prev </button>
                                        <label class="col-2"> Pag. {{dataPage.currentPage}} de {{dataPage.totalPage}} </label>
                                        <button  class="btn btn-info col-1" (click)=changePage(true) [disabled]='!dataPage.hasNext'> Next </button>
                                        <label class="col-2"> [Total Rows: {{dataPage.totalCount}}] </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end::Section-->
                    </div>
                    <!--end::Form-->
                </div>
            </div>

            <!--End::Section-->
        </div>
    </div>
</div>